div.project-div {
  
  #origin-modal {
    width: 25% !important;
  }
  
  span.project-name {
    font-size: 30px;
  }
  
  .origin-chip {
    margin-top: 7px;
  }

  div.carousel {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

div.project-card {
  
  .card-content {
    color: white;
  }
  
  // .card-image {
  //   img {
  //     height: 300px;
  //   }
  // }

}







