html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

.app {
  width: 960px;
  margin: 0 auto;
  padding: 20px; }

.outer {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%; }

.middle {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  min-width: 900px; }

.inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 60%;
  min-width: 900px;
  height: 80%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  z-index: 1; }

.content-background {
  color: white;
  background-color: rgba(0, 0, 0, 0.85);
  width: 85%;
  height: 100%;
  padding: auto;
  float: right;
  overflow-y: scroll;
  overflow-x: hidden; }

.panel {
  background-color: rgba(130, 130, 130, 0.25);
  padding: 20px !important; }

.panel-transparent {
  padding: 20px !important; }

.container {
  width: 90%; }

.current {
  border-bottom: 4px solid white; }

h1 {
  margin-bottom: 20px; }

p {
  margin-bottom: 15px; }

img {
  max-width: 100%; }

#nav-logo {
  max-height: 100%;
  max-width: 100%;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 10%;
  padding-bottom: 10%; }

.nav-ul {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  line-height: 0px; }

#cover-photo {
  display: inline-block;
  margin-bottom: -6px; }

.bg-container {
  height: 100vh;
  position: static;
  z-index: -2;
  background-color: black; }

.image {
  height: 100%;
  position: static;
  z-index: -1;
  display: none; }

#cover-photo-container {
  width: 100%;
  max-height: 300px;
  overflow: hidden; }

.admin-btn {
  position: absolute;
  margin: 10px;
  right: 0px;
  visibility: hidden; }

.card-title {
  padding: 10px !important; }

.project-card {
  margin: 10px;
  cursor: pointer; }
  .project-card .card {
    margin: 0px; }

.project-card:hover {
  border: solid 3px #2196f3;
  margin: 7px; }

.card {
  background-color: rgba(130, 130, 130, 0.25);
  border: solid;
  border-width: 1px;
  border-color: #646464; }

nav {
  width: 100%;
  height: 100%;
  text-align: center; }

nav ul {
  width: 100%; }

nav ul li {
  height: 100px; }

.nav-div {
  height: 100%;
  width: 15%; }

.main-nav li {
  width: 100%; }

.nav-workbench {
  position: relative;
  vertical-align: bottom; }

::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
.content-red::-webkit-scrollbar-thumb {
  background: #f44336; }

/* Handle on hover */
.content-red::-webkit-scrollbar-thumb:hover {
  background: #d32f2f; }

/* Track */
.content-red::-webkit-scrollbar-track {
  background: #ffcdd2; }

/* Track */
.scroll-bg-red::-webkit-scrollbar-track {
  background: #f44336; }

/* Handle */
.content-purple::-webkit-scrollbar-thumb {
  background: #9c27b0; }

/* Handle on hover */
.content-purple::-webkit-scrollbar-thumb:hover {
  background: #7b1fa2; }

/* Track */
.content-purple::-webkit-scrollbar-track {
  background: #e1bee7; }

/* Track */
.scroll-bg-purple::-webkit-scrollbar-track {
  background: #9c27b0; }

/* Handle */
.content-blue::-webkit-scrollbar-thumb {
  background: #2196f3; }

/* Handle on hover */
.content-blue::-webkit-scrollbar-thumb:hover {
  background: #1976d2; }

/* Track */
.content-blue::-webkit-scrollbar-track {
  background: #bbdefb; }

/* Track */
.scroll-bg-blue::-webkit-scrollbar-track {
  background: #2196f3; }

/* Handle */
.content-green::-webkit-scrollbar-thumb {
  background: #4caf50; }

/* Handle on hover */
.content-green::-webkit-scrollbar-thumb:hover {
  background: #388e3c; }

/* Track */
.content-green::-webkit-scrollbar-track {
  background: #c8e6c9; }

/* Track */
.scroll-bg-green::-webkit-scrollbar-track {
  background: #4caf50; }

/* Handle */
.content-amber::-webkit-scrollbar-thumb {
  background: #ffc107; }

/* Handle on hover */
.content-amber::-webkit-scrollbar-thumb:hover {
  background: #ffa000; }

/* Track */
.content-amber::-webkit-scrollbar-track {
  background: #ffecb3; }

/* Track */
.scroll-bg-amber::-webkit-scrollbar-track {
  background: #ffc107; }

section.about-section .collapsible-header {
  background-color: transparent !important; }

section.about-section #self {
  -webkit-transform: rotate(90 deg); }

div.project-div #origin-modal {
  width: 25% !important; }

div.project-div span.project-name {
  font-size: 30px; }

div.project-div .origin-chip {
  margin-top: 7px; }

div.project-div div.carousel {
  margin-top: 15px;
  margin-bottom: 10px; }

div.project-card .card-content {
  color: white; }
